@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html, body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F0FF;
    align-items: center;
    text-align: center;
}

.heading {
    font-family: 'Lato', sans-serif;
    font-size: 75px;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.underline {
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: burlywood;
    margin: auto;
    margin-bottom: 50px;
}

.category-btns {
    margin-bottom: 25px;
}

.btn {
    margin: 20px;
}