body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #000033;
}

.container {
    background-color: #808080;
    width: 700px;
    min-height: fit-content;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
}

.element {
    margin: 20px;
    text-align: left;
}

.toggle {
    float: right;
    font-style: none;
}
button {
    border: none;
    outline: none;
}
.button {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
.question {
    display: inline;
    margin-top: 40px;
}
.info {
    display: block;
}