@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html, body {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(234, 241, 255);
}

.loading {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    margin: auto;
    align-items: center;
    text-align: center;
}