@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #fddcfd;
}

.heading {
    font-family: 'Overpass', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.underline {
    width: 150px;
    height: 6px;
    margin: auto;
    background-color: black;
    margin-bottom: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 700px;
    height: 400px;
    background-color: white;
}
.photo {
    width: 100%;
    height: 50%;
}
img {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    position: relative;
    top: 15px;
    left: 275px;
    box-shadow: blueviolet;
}
.review {
    width: 100%;
    height: 30%;
}
p {
    margin: 30px;
}
.buttons {
    width: 100%;
    height: 20%;
}