@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Lato', sans-serif; */

html, body {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 212, 218);
}